<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="container-header">
        <h1>Alterar Pokémons</h1>
        <h2>Nesta página, é possível alterar os atributos dos pokemóns</h2>
    </div>

    <nav>
        <a href="/sobre-nos">Sobre Nós</a>
        <a href="/consulta">Consultar</a>
        <a href="/alterar">Alterar</a>
        <a href="/apagar">Apagar</a>
    </nav>

    <div class="container-black">
        <form id="update-form" th:action="@{/alterar}" method="post" class="update-container">
            <label for="pokemon-id">Selecionar ID do Pokémon:</label>
            <input type="number" id="pokemon-id" name="pokemonId" class="search-input" required />

            <label for="attribute">Selecionar Atributo a ser Alterado:</label>
            <select id="search-type" name="attribute">
                <option value="pokemonName">Nome</option>
                <option value="total">Total</option>
                <option value="hp">HP</option>
                <option value="attack">Attack</option>
                <option value="defense">Defense</option>
                <option value="speed">Speed</option>
                <option value="speedAttack">Speed Attack</option>
                <option value="speedDefense">Speed Defense</option>
                <option value="generation">Generation</option>
                <option value="legendary">Legendary</option>
            </select>

            <label for="new-value">Inserir Novo Valor:</label>
            <input type="text" id="new-value" name="newValue" class="search-input" required />

            <button type="submit" class="search-button">Atualizar</button>
        </form>
    </div>
</body>

</html>