<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
<div class="container-header">
    <h1>Sobre Nós</h1>
    <p>Nós somos constituídos por Danilo Santos, Nuno Dias e Tiago Tomás</p>
</div>

<div class="container-blue">
    <div class="container-grid">
        <div class="person">
            <img src="pessoa1.jpg" alt="Pessoa 1">
            <h2>Danilo Santos</h2>
            <p class="person-number">220001205</p>
        </div>
        <div class="person">
            <img src="pessoa2.jpg" alt="Pessoa 2">
            <h2>Nuno Dias</h2>
            <p class="person-number">220001618</p>
        </div>
        <div class="person">
            <img src="pessoa3.jpg" alt="Pessoa 3">
            <h2>Tiago Tomás</h2>
            <p class="person-number">220001585</p>
        </div>
    </div>
</div>

<div class="container-red">
    <p class="red-text">Nós somos um grupo de alunos do cTesp de Tecnologias de Programação e Sistemas de Informação e este é o resultado do nosso trabalho de grupo sobre a PokemonWebApp. Desenvolvemos este trabalho em situação de aulas com a professora Vânia Besouro e estamos muito orgulhosos com o resultado da nossa aplicação.</p>
</div>

</body>

</html>